{% if site.posts %}
  <ul class="rows">
    <li class="row__cols">
      <div class="header__title">
	Concert
      </div>
      <div class="header__date">
	Date
      </div>
      <div class="header__venue">
	Venue
      </div>
    </li>
    {% for concert in site.data.concerts %}
      <li class="row__post">
        <div class="row__title">
          {{ concert.title }}
        </div>
        <div class="row__date">
          {{ concert.date | date: "%b %-d, %y" }}
        </div>
        <div class="row__venue">
          {{ concert.venue }}
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
