.bio {
  margin-bottom: 20px;
}

.bio__header {
  margin-bottom: 20px;
  font-weight: 700;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.bio__social {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style: none;
}

// media queries
@media (max-width: $on-palm) {
  .bio__header {
    margin-bottom: 0px;
  }
}
