.rows {
  position: relative;
  width: 100%;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.row__cols {
  display: block;
  margin-bottom: 10px;
}

.row__cols {
  font-weight: 700;
  overflow: hidden;
}

.header__title,
.header__date,
.header__venue,
.row__title,
.row__date,
.row__venue {
  float: left;
}

.row__title {
  width: 100%;
}


.header__date,
.header__venue,
.row__date,
.row__venue {
  width: auto;
}

.header__date,
.header__venue,
.row__venue {
  position: relative;
}

.row__body {
  margin: 20px 0;
}

@media (max-width: $on-palm) {
  .header__date,
  .header__venue,
  .row__venue {
    position: relative;
    margin-left: 10px;

    &:before {
      position: absolute;
      content: '|';
      left: -9px;
    }
  }
}

@include media-query($on-palm) {
  .row__cols {
    margin: 0;
  }

  .header__title,
  .row__title {
    width: 50%;
  }

  .header__date,
  .header__venue,
  .row__date,
  .row__venue {
    width: 25%;
  }

  .header__venue,
  .row__venue {
    margin: 0;

    &:before {
      content: '';
    }
  }
}
