<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body>
    <div class="container">
      {% include header.html %}
      {{ content }}
    </div>
  </body>

  <script>
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("{{ 'assets/sw.js' | relative_url }}").then(
        (registration) => {
          console.log("Service worker registration successful:", registration);
        },
        (error) => {
          console.error(`Service worker registration failed: ${error}`);
        },
      );
    } else {
      console.error("Service workers are not supported.");
    }
  </script>
</html>
